<!DOCTYPEhtml>
<htmllang="en">
<head>
<metacharset="UTF-8">
<metaname="viewport"content="width=device-width,initial-scale=1.0">
<title>Login</title>
<linkrel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background-color:#f8f9fa;
}
.login-container{
width:300px;
padding:20px;
background-color:white;
border-radius:10px;
box-shadow:0010pxrgba(0,0,0,0.1);
}
.login-containerh1{
font-size:24px;
margin-bottom:20px;a
}
.login-containerp{
margin-bottom:20px;
}
.form-control{
margin-bottom:10px;
}
.btn-primary{
width:100%;
}
</style>
</head>
<body>
<divclass="login-containertext-center">
<h1>LOGIN</h1>
<p>WelcometoPiloto</p>
<formid="login-form">
<inputtype="text"class="form-control"id="username"placeholder="username">
<inputtype="password"class="form-control"id="password"placeholder="password">
<buttontype="submit"class="btnbtn-primary">Login</button>
</form>
</div>

<scriptsrc="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<scriptsrc="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<scriptsrc="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
document.getElementById('login-form').addEventListener('submit',function(event){
event.preventDefault();
varusername=document.getElementById('username').value;
varpassword=document.getElementById('password').value;
if(username==='test'&&password==='test'){
$('body').fadeOut(1000,function(){
window.location.href='main.html';
});
}else{
alert('Invalidusernameorpassword');
}
});
</script>
</body>
</html>
